*{
	box-sizing: border-box;
}

html {
	width: 960px;
}


.banner {
	background-color: white;
	width: 100%;
	height: 100px;

}

.logo {
	position: absolute;
	width: 180px;
	padding: 18px;
	background-color: #4aaaa5;
	left: 100px;
	top: 34px;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.navigation {
	text-align: center;
	height: 100px;
	background-color: white;
	position: absolute;
	left: 1000px;
	padding-top: 30px;
}

a {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #9fa8b7;
	text-decoration: unset;
}

h2 {
	font-size: 30px;
	padding: 10px;
}

h3 {
	font-size: 25px;
}

.background {
	width: 650px;
	height: 420px;
}

.main {
	background-color: #ffffff;
	width: 960px;
	height: 420px;
	font-color: #777777;
}

.about {
	border-color: #9fa8b7; 
	float: left;
	width: 650px;
	font-color: #777777;
}

.connect {
	width: 270px;
	float: left;
	font-color: #777777;
}

.profile_pic {
	float: left;
	width: 100px; 
	height: 100px; 
	border: 0;
}